<h1>Articles Listing Page</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @articles_list.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.description %></td>
      <td><%= link_to 'Show', article_path(item) %></td>
      <td><%= link_to 'Edit', edit_article_path(item) %></td>
      <td><%= link_to 'Delete', article_path(item), method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to 'Create New Article', new_article_path %></p>

